<div class="container-fluid">
  <div class="form">
    <div class="row">
      <div class="col-4">
        <table class="table table-striped">
          <thead>
            <th scope="col">Event Number</th>
            <th scope="col">Calculation</th>
          </thead>
          <tbody>
            <tr *ngFor="let event of history | keyvalue">
              <td>{{event.key}}</td>
              <td>{{event.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-8">
        <div class="row">
          <form [formGroup]="inputForm" #equationInputForm="ngForm">
            <div class="form-group">
              <label for="equationInput">Input</label>
              <input class="form-control"
                     id="equationInput"
                     required
                     formControlName="equation"
                     name="equationInput"
                     placeholder="Please enter equation">
              <div [hidden]="equation.valid" class="alert alert-danger">Equation is invalid</div>
            </div>

            <button type="submit"
                    class="btn btn-primary"
                    [disabled]="inputForm.invalid">Submit</button>
            <button type="button" class="btn btn-default"
                    (click)="equationInputForm.reset({})">Reset</button>
          </form>
        </div>
        <div class="container">
          <h4>Calculator Input</h4>
          <div class="row">
            <button class="btn btn-default col-3" (click)="addValue('1')">1</button>
            <button class="btn btn-default col-3" (click)="addValue('2')">2</button>
            <button class="btn btn-default col-3" (click)="addValue('3')">3</button>
            <button class="btn btn-default col-3" (click)="addValue('*')">*</button>
          </div>
          <div class="row">
            <button class="btn btn-default col-3" (click)="addValue('4')">4</button>
            <button class="btn btn-default col-3" (click)="addValue('5')">5</button>
            <button class="btn btn-default col-3" (click)="addValue('6')">6</button>
            <button class="btn btn-default col-3" (click)="addValue('/')">/</button>
          </div>
          <div class="row">
            <button class="btn btn-default col-3" (click)="addValue('7')">7</button>
            <button class="btn btn-default col-3" (click)="addValue('8')">8</button>
            <button class="btn btn-default col-3" (click)="addValue('9')">9</button>
            <button class="btn btn-default col-3" (click)="addValue('+')">+</button>
          </div>
          <div class="row">
            <button disabled class="btn btn-default col-3"></button>
            <button class="btn btn-default col-3" (click)="addValue('0')">0</button>
            <button class="btn btn-default col-3" (click)="addValue('.')">.</button>
            <button class="btn btn-default col-3" (click)="addValue('-')">-</button>
          </div>
        </div>

        <div class="submitted-message" *ngIf="equationInputForm.submitted">
          <p>You've submitted your equation, {{ inputForm.value.equation }}!</p>
          <button type="button" (click)="equationInputForm.resetForm({})">Submit another</button>
        </div>
      </div>
    </div>
  </div>
</div>
