<h1>Hello, world!</h1>

<form [formGroup]="inputForm"
      (ngSubmit)="onSubmit()"
      #userInputForm="ngForm" >
  <div class="row">
    <label for="schoolIdInput">School ID</label>
    <input class="form-control col-3"
           type="text"
           id="schoolIdInput"
           formControlName="schoolId"
           name="schoolIdInput"
           placeholder="Please enter school Id (a guid)"
           required>
  </div>

  <div class="row">
    <label for="userIdInput">User ID</label>
    <input class="form-control col-3"
           type="text"
           id="userIdInput"
           formControlName="userId"
           name="userIdInput"
           placeholder="Please enter your User Id (a number)"
           required>
  </div>

  <div class="row">
    <button type="submit"
            class="btn btn-primary"
            [disabled]="inputForm.invalid">
      Submit
    </button>
  </div>
</form>
